@import "../../node_modules/the-new-css-reset/css/reset.css";

//@font-face {
//  font-weight: ;
//  font-family: ;
//  src: url('assets/font/.ttf');
//}


:root {
  // color -------------
  // font --------------
  // root font--------
  font-family: var(--family-1);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  color: #FFFFFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body, {
  width: 100%;
  height: 100%;
}

#slider {
  position: relative;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: tomato;
}

body {

  //@include grid();
}

.container {
  height: 100%;
  @include wrapper()
}


.col-2 {
  border: 1px solid blue;
  @include col(2)
}


.btn {
  position: absolute;
  z-index: 100;
  width: 33.333%;
  height: 100%;
}

#prev {
  cursor: url("src/assets/images/left-btn.svg"), pointer;
}

#next {
  right: 0;
  cursor: url("src/assets/images/right-btn.svg"), pointer;
}

.text {
  position: absolute;

  width: 100%;
  height: 100%;

  font-size: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
}
